{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r 
        from-cyan-400 to-light-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 
        sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <div class="max-w-xl mx-auto">
            <div>
                <p class="text-5xl italic text-cyan-500 text-center">Tweeter</p>
            </div>
            <div class="divide-y divide-gray-200">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if form.errors %}
                        <ul class="errorlist">
                            <li>Your username and password didn't match. Please try again.</li>
                        </ul>
                    {% endif %}
                    {% if next %}
                        <ul class="errorlist">
                        {% if user.is_authenticated %}
                            <li>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</li>
                        {% else %}
                            <li>Please login to see this page.</li>
                        {% endif %}
                        </ul>
                    {% endif %}
                    <form class="tw-account-form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="grid grid-cols-1 gap-6">
                            {% for field in form %}
                                <label class="block">
                                    <span class="text-gray-500" for="{{field.id_for_label}}">{{ field.label }}</span>
                                    {{ field }}
                                </label>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-cyan w-full mt-6">Login</button>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
                <div class="p-6 text-base leading-6 font-bold sm:text-lg sm:leading-7">
                    <p>New to Tweeter?</p>
                    <p>
                        <a href="{% url 'register' %}" class="text-cyan-600 hover:text-cyan-700">Register here &rarr;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}